@tailwind base;
@tailwind components;
@tailwind utilities;


.anitext{
  animation: sliding 20s linear infinite;
  display: block;
}
@keyframes sliding{
  0%{
    transform: translateX(200%);
  }
  100%{
    transform: translateX(-110%);
  }
}

.container {
  display: flex;
  margin: 2vmax auto;
  width: 80vw;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}
